.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Gilroy, sans-serif;
  color: #292530;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

p {
  margin-bottom: 0px;
  font-family: 'Euclid circular a', sans-serif;
  color: #292530;
  font-size: 16px;
  line-height: 26px;
}

.body {
  padding-top: 0rem;
  background-color: #fff;
}

.navigation {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.text-block {
  font-family: Gilroy, sans-serif;
  font-weight: 700;
}

.text-block-2 {
  font-family: Gilroy, sans-serif;
  color: #292530;
  font-size: 26px;
  font-weight: 700;
}

.navlink_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 32px;
}

.textlink {
  font-family: 'Euclid circular a', sans-serif;
  color: #292530;
  text-decoration: none;
}

.link-block {
  color: #292530;
  text-decoration: none;
}

.buttonprimary_black {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 3rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #292530;
  font-family: 'Euclid circular a', sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.buttonprimary_black.is-margin-t-32 {
  margin-top: 2rem;
}

.section_wrapper {
  max-width: 1140px;
}

.is-h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Gilroy, sans-serif;
  color: #292530;
  font-size: 48px;
  line-height: 60px;
}

.is-h1.is-text-align_center {
  color: #292530;
  text-align: center;
}

.is-h1.is-text-align_center.is-width-40 {
  width: 40%;
}

.is-h1.is-text-align_center.is-width-40.is-block-center {
  margin-right: auto;
  margin-left: auto;
}

.is-subtitle {
  font-family: 'Euclid circular a', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.is-subtitle.is-margin-t-16 {
  margin-top: 1rem;
}

.is-subtitle.is-margin-t-24 {
  margin-top: 1.5rem;
}

.is-subtitle.is-margin-t-24.is-text-align_center {
  text-align: center;
}

.is-subtitle.is-margin-t-24.is-text-align_center.is-width-50 {
  width: 50%;
}

.is-subtitle.is-margin-t-24.is-text-align_center.is-width-50.is-block-center {
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
}

.is-subtitle.is-text-align_center {
  text-align: center;
}

.cta_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-column-gap: 1.5rem;
}

.cta_wrapper.is-margin-t-32 {
  margin-top: 2rem;
}

.buttonprimary_blue {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 3rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #1e8efe;
  font-family: 'Euclid circular a', sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.buttonprimary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 3rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #1e8efe;
  font-family: 'Euclid circular a', sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.reassurances_wrapper.is-margin-t-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-row-gap: 0.75rem;
}

.reassurance_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.5rem;
}

.is-text-small {
  font-family: 'Euclid circular a', sans-serif;
  color: #292530;
  font-size: 14px;
  line-height: 18px;
}

.is-text-small.is-margin-t-16 {
  margin-top: 1rem;
}

.is-text-small.is-text-align_left {
  text-align: left;
}

.image {
  width: 1rem;
  height: 1rem;
}

.header_home {
  position: relative;
  padding-top: 9rem;
  padding-bottom: 5rem;
}

.image-2 {
  position: absolute;
  left: 0%;
  top: -5px;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 100%;
  height: 70px;
}

.h1-wrapper {
  position: relative;
}

.h1-wrapper.is-width-40 {
  width: 40%;
}

.h1-wrapper.is-width-40.is-block-center {
  margin-right: auto;
  margin-left: auto;
}

.image-3 {
  position: absolute;
  left: auto;
  top: auto;
  right: 53%;
  bottom: -0.5rem;
  height: 5rem;
}

.section_bandeaublack {
  min-height: 13rem;
  background-color: #292530;
}

.section_pv {
  padding-top: 4rem;
  padding-bottom: 7.5rem;
}

.logo_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo_wrapper.is-margin-t-32 {
  margin-top: 2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  position: static;
  left: 7%;
  top: 51px;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1f1f1f;
}

.your_logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: dashed;
  border-width: 3px;
  border-color: #1e8efe;
  border-radius: 8px;
  background-color: #c2dffe;
}

.text-block-939 {
  font-family: 'Euclid circular a', sans-serif;
  color: #1f1f1f;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.is-text-allcap {
  font-family: 'Euclid circular a', sans-serif;
  color: #292530;
  font-size: 16px;
  text-transform: uppercase;
}

.is-text-allcap.is-txt-align_center {
  text-align: center;
}

.grid {
  margin-top: 5rem;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-areas: "Area Area";
}

.is-pv_wrapper {
  padding: 40px;
  border-radius: 0.5rem;
}

.is-pv_wrapper.is-bg-yellow500 {
  background-color: #fff5c2;
}

.is-pv_wrapper.is-bg-yellow500.is-display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.is-pv_wrapper.is-bg-blue500 {
  background-color: #c2dffe;
}

.is-pv_wrapper.is-bg-grey400 {
  background-color: #eef3f8;
}

.wrapper_left_pv {
  width: 40%;
}

.wrapper_left_pv.full_width {
  width: 100%;
}

.is-h2 {
  font-size: 32px;
  line-height: 42px;
}

.is-h2.is-margin-b-24 {
  margin-bottom: 1.5rem;
}

.is-h2.is-margin-b-32 {
  margin-bottom: 2rem;
}

.is-h2.is-text-align_center {
  text-align: center;
}

.linkblock_arrow {
  padding-right: 1.5rem;
  background-image: url('../images/ArrowRight.svg');
  background-position: 100% 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  color: #292530;
  text-decoration: none;
}

.linkblock_arrow.is-margin-t-32 {
  margin-top: 2rem;
}

.textlink-16 {
  font-family: 'Euclid circular a', sans-serif;
  color: #292530;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: none;
}

.section_simulateur.is-bg-grey400 {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #eef3f8;
}

.simulateur_wrapper {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.left_wrapper_simulateur {
  width: 50%;
  padding-right: 0rem;
}

.right_wrapper_simulateur {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.is-h3-small {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Gilroy, sans-serif;
  color: #292530;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.is-h3-small.is-margin-b-24 {
  margin-bottom: 1.5rem;
}

.is-h3-small.is-text-align_center {
  color: #292530;
  text-align: center;
}

.pv_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-row-gap: 2rem;
}

.pc_wrapper_simulateur {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1.5rem;
}

.image-4 {
  width: 2.5rem;
}

.section_c-m {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.bg_white {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 46%;
  background-color: #fff;
}

.comment-amarche_wrapper {
  grid-column-gap: 3rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.comment-amarche_wrapper.is-margin-t-56 {
  margin-top: 3.5rem;
}

.section_offres {
  padding-top: 5rem;
  padding-bottom: 7rem;
}

.section_offres.is-bg-black {
  background-color: #292530;
}

.is-h2-white {
  color: #fff;
  font-size: 32px;
  line-height: 42px;
}

.is-h2-white.is-margin-b-24 {
  margin-bottom: 1.5rem;
}

.is-h2-white.is-margin-b-32 {
  margin-bottom: 2rem;
}

.is-h2-white.is-text-align_center {
  text-align: center;
}

.is-subtitle_white {
  font-size: 18px;
}

.is-subtitle_white.is-margin-t-16 {
  margin-top: 1rem;
}

.is-subtitle_white.is-margin-t-24 {
  margin-top: 1.5rem;
}

.is-subtitle_white.is-margin-t-24.is-text-align_center {
  text-align: center;
}

.is-subtitle_white.is-margin-t-24.is-text-align_center.is-width-50 {
  width: 50%;
}

.is-subtitle_white.is-margin-t-24.is-text-align_center.is-width-50.is-block-center {
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
}

.is-subtitle_white.is-text-align_center {
  text-align: center;
}

.is-subtitle_white.is-text-align_center.is-margin-t-24 {
  color: #fff;
}

.offres_wrapper {
  grid-column-gap: 2rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.offres_wrapper.is-margin-t-64 {
  margin-top: 4rem;
  -webkit-box-align: end;
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: end;
}

.offre_wrapper {
  padding: 3rem 2.5rem;
  border-radius: 0.5rem;
}

.offre_wrapper.is-bg-white {
  background-color: #fff;
  color: #292530;
  text-align: center;
}

.offre_wrapper.is-bg-white.populaire {
  position: relative;
  padding-top: 4rem;
  box-shadow: 6px 6px 0 2px #fee986;
}

.text-span {
  font-family: Gilroy, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

.divider_black {
  width: 100%;
  height: 1px;
  background-color: #292530;
}

.divider_black.is-margin-tb-32 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text-span-2 {
  line-height: 28px;
}

.populaire_badge {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 148px;
  min-height: 2.5rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.populaire_badge.is-bg-yellow {
  top: -1rem;
  background-color: #fee986;
}

.is-text-normal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Euclid circular a', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.image-5 {
  position: absolute;
  left: auto;
  top: 2%;
  right: 2%;
  bottom: auto;
}

.heading-2 {
  position: relative;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.heading-2.center {
  text-align: center;
}

.heading-2.center.white {
  width: 100%;
  margin-bottom: 16px;
  padding-left: 0px;
  color: #fff;
}

.left-arrow {
  left: -32%;
  top: auto;
  right: 0%;
  bottom: 2%;
  display: block;
  padding-top: 4px;
  padding-bottom: 8px;
}

.client_wrapper {
  position: absolute;
  left: 32px;
  top: auto;
  right: 0%;
  bottom: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  margin-right: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide_testimonial {
  width: 380px;
  height: 350px;
  margin-right: 24px;
  margin-left: 16px;
}

.paragraph-15 {
  width: 100%;
}

.right-arrow {
  left: 0%;
  top: auto;
  right: -12%;
  bottom: 2%;
  padding-top: 4px;
  padding-bottom: 9px;
}

.section {
  overflow: hidden;
  padding-top: 120px;
  padding-bottom: 80px;
  background-color: transparent;
  background-image: url('../images/bg_top.jpg');
  background-position: 50% 0%;
  background-size: contain;
  background-repeat: repeat-x;
  background-attachment: scroll;
}

.section.purple.no_wave {
  padding-top: 80px;
  background-image: none;
}

.slide-nav {
  right: 10%;
  margin-top: 40px;
  margin-right: 0px;
  margin-left: 0px;
}

.slider_testimonials {
  display: none;
  overflow: hidden;
  width: auto;
  height: 360px;
  margin-top: 64px;
  margin-left: 11vw;
  background-color: transparent;
}

.grid_testimonials {
  width: 160%;
  margin-top: 0px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid_testimonials.is-margin-n-40 {
  margin-top: 2.5rem;
}

.button_white {
  margin-left: 24px;
  padding: 12px 24px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #171443;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 3px 3px 0 1px rgba(0, 0, 0, 0.2);
  color: #171443;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
}

.button_white:hover {
  background-color: #fff;
  box-shadow: 3px 3px 0 1px rgba(0, 0, 0, 0.2);
  color: #171443;
}

.image-6 {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  border-radius: 100%;
  background-color: transparent;
}

.society {
  color: #171443;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.button_black {
  display: block;
  padding: 12px 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #171443;
  border-radius: 3px;
  background-color: #171443;
  box-shadow: 3px 3px 0 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
}

.button_black:hover {
  background-color: #171443;
  box-shadow: 3px 3px 0 1px rgba(0, 0, 0, 0.2);
}

.button_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.section_wrapper-2 {
  position: relative;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.card_testimonial {
  position: relative;
  width: 400px;
  min-height: 340px;
  padding: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: #1e8efe;
  border-radius: 0.5rem;
  background-color: #fff;
}

.name {
  color: #666577;
  font-weight: 400;
}

.sub_title_h2 {
  width: 70%;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  color: #171443;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.sub_title_h2.white {
  display: block;
  width: 90%;
  color: #fff;
}

.sub_title_h2.white._65 {
  width: 60%;
}

.mask_testimonial {
  overflow: visible;
  width: 380px;
  height: 310px;
}

.section_testimonials {
  padding-top: 5.5rem;
  padding-bottom: 7rem;
}

.section_testimonials.is-bg-blue500 {
  overflow: hidden;
  background-color: #c2dffe;
}

.paragraph-16 {
  color: #292530;
}

.section_cta {
  margin-top: 0rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section_cta.is-bg-blue {
  position: relative;
  background-color: #1e8efe;
}

.buttonprimary_yellow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 3rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #fee986;
  font-family: 'Euclid circular a', sans-serif;
  color: #292530;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.buttonprimary_yellow.is-margin-t-32 {
  margin-top: 2rem;
}

.section_faq {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.p-16 {
  margin-right: 100px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #041b4b;
  font-size: 16px;
  line-height: 24px;
}

.p-16.faq {
  margin-top: 0px;
  margin-right: 56px;
  background-color: transparent;
  line-height: 24px;
  font-weight: 400;
}

.faq-plus-l {
  position: absolute;
  width: 3px;
  height: 100%;
  border-radius: 3px;
  background-color: #1e8efe;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.faq-question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
  cursor: pointer;
}

.faq-question:hover {
  color: transparent;
}

.faq-plus {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #1e8efe;
  color: #574cfa;
}

.f-q_wrapper {
  position: relative;
  max-width: 800px;
  margin: 0px auto;
  padding: 1.5rem 2rem 1.5rem 0rem;
  border-style: solid;
  border-width: 1px 0px 0px;
  border-color: rgba(23, 20, 67, 0.2) #171443 #171443;
  border-radius: 3px;
  background-color: #fff;
}

.f-q_wrapper.top {
  max-width: none;
  margin: 0px auto;
  padding: 1.5rem 2rem;
  border-width: 1px 0px 0px;
  border-color: rgba(23, 20, 67, 0.2) #171443 #171443;
}

.faq-answer {
  overflow: hidden;
  margin-top: 0px;
  padding-left: 0px;
  border-bottom: 0px solid rgba(45, 62, 80, 0.12);
}

.faq-plus-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 16px;
  margin-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #292530;
}

.faqbig_wrapper {
  position: relative;
  max-width: 800px;
  margin: 0px auto;
  padding: 0px;
  border-style: none solid solid;
  border-width: 0px;
  border-color: rgba(23, 20, 67, 0.2) #171443 #171443;
  border-radius: 0px;
  background-color: #fff;
}

.faqbig_wrapper.top {
  margin: 56px auto 0px;
  border-width: 1px 0px 0px;
  border-color: rgba(23, 20, 67, 0.2) #171443 #171443;
}

.is-h3-big {
  font-family: Gilroy, sans-serif;
  color: #292530;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.is-h3-big.is-margin-b-24 {
  margin-bottom: 1.5rem;
  font-size: 24px;
  line-height: 29px;
}

.is-h3-big.is-text-align_center {
  color: #292530;
  text-align: center;
}

.faq_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
}

.faq_wrapper.is-margin-t-32 {
  margin-top: 2rem;
}

.is-margin-t-8px {
  margin-top: 0.5rem;
}

.footer {
  min-height: 10rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.footer.is-bg-black {
  background-color: #292530;
}

.image-7 {
  position: absolute;
  left: auto;
  top: auto;
  right: 20%;
  bottom: 32%;
  width: 3rem;
  margin-right: 0%;
  margin-bottom: 0%;
}

.image-8 {
  position: absolute;
  left: auto;
  top: auto;
  right: 23%;
  bottom: 63%;
  width: 3.5rem;
  margin-right: 0%;
  margin-bottom: 0%;
}

.image-9 {
  position: absolute;
  left: 20%;
  top: auto;
  right: auto;
  bottom: 20%;
  width: 4rem;
  margin-right: 0%;
  margin-bottom: 0%;
}

.image-10 {
  position: absolute;
  left: 13%;
  top: 30%;
  right: auto;
  bottom: 0px;
  width: 3rem;
  margin-right: 0%;
  margin-bottom: 0%;
}

.image-11 {
  position: absolute;
  left: 2%;
  top: 5%;
  right: auto;
  bottom: auto;
  opacity: 0.4;
}

.image-12 {
  position: absolute;
  left: 6%;
  top: 26%;
  right: auto;
  bottom: auto;
  width: 3rem;
  opacity: 0.4;
}

.image-14 {
  position: absolute;
  left: auto;
  top: 12%;
  right: 10%;
  bottom: auto;
  width: 4rem;
  opacity: 0.4;
}

.image-13 {
  position: absolute;
  left: 30%;
  top: auto;
  right: auto;
  bottom: 16%;
  width: 3rem;
  opacity: 0.4;
}

.fieldlabel {
  margin-bottom: 0px;
  font-family: 'Euclid circular a', sans-serif;
  color: #292530;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.fieldlabel.is-margin-b-8 {
  margin-bottom: 0.5rem;
}

.fieldlabel.is-margin-b-8.is-margin-t-24 {
  margin-top: 1.5rem;
}

.fieldlabel.is-margin-t-32 {
  margin-top: 2rem;
}

.textfield {
  min-height: 64px;
  padding-left: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: #1e8efe;
  border-radius: 8px;
  font-family: Gilroy, sans-serif;
  color: #292530;
  font-size: 32px;
  font-weight: 700;
}

.header_proto {
  padding-top: 9rem;
  padding-bottom: 5rem;
}

@media screen and (min-width: 1440px) {
  .section_wrapper {
    max-width: 1240px;
  }

  .header_home {
    position: relative;
  }

  .image-2 {
    right: 0.7rem;
  }

  .image-3 {
    right: 34%;
  }

  .section_simulateur {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .section_simulateur.is-bg-grey400 {
    background-color: #eef3f8;
  }

  .simulateur_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .image-5 {
    right: 6%;
  }

  .section.purple.no_wave {
    padding-top: 80px;
    background-image: none;
  }

  .slider_testimonials {
    display: none;
    margin-left: 7.5vw;
  }

  .grid_testimonials {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .button_white {
    -webkit-transition: box-shadow 300ms ease;
    transition: box-shadow 300ms ease;
  }

  .button_white:hover {
    position: relative;
    bottom: 0px;
    margin-bottom: 0px;
    box-shadow: 6px 6px 0 1px rgba(0, 0, 0, 0.2);
  }

  .button_black {
    -webkit-transition: box-shadow 300ms ease;
    transition: box-shadow 300ms ease;
  }

  .button_black:hover {
    box-shadow: 6px 6px 0 1px rgba(0, 0, 0, 0.2);
  }

  .section_wrapper-2 {
    max-width: 1200px;
  }

  .testimonial_wrapper {
    width: 100%;
  }

  .sub_title_h2.white._65 {
    width: 65%;
  }

  .faq-plus-l {
    height: 16px;
    min-height: 16px;
    min-width: 3px;
  }

  .faq-question {
    margin-bottom: 0px;
  }

  .faq-plus {
    width: 16px;
    min-height: 3px;
    min-width: 16px;
  }

  .faq-answer {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1920px) {
  .logo {
    left: 18%;
    top: 51px;
  }

  .left-arrow {
    left: -37%;
  }

  .right-arrow {
    right: -1%;
  }

  .section {
    padding-top: 130px;
  }

  .slide-nav {
    right: 18%;
  }

  .slider_testimonials {
    margin-left: 18vw;
  }

  .grid_testimonials {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .button_white:hover {
    box-shadow: 3px 3px 0 1px rgba(0, 0, 0, 0.2);
  }

  .button_black:hover {
    box-shadow: 3px 3px 0 1px rgba(0, 0, 0, 0.2);
  }

  .p-16 {
    margin-right: 48px;
  }

  .faq-plus-l {
    width: 3px;
    background-color: #574cfa;
  }

  .faq-question {
    margin-top: 8px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .faq-plus {
    height: 3px;
    background-color: #574cfa;
  }

  .f-q_wrapper {
    max-width: 900px;
    margin-top: 0px;
    border-style: solid none none;
    border-width: 1px;
    border-color: rgba(23, 20, 67, 0.2) #e0e1dd #e0e1dd;
  }

  .f-q_wrapper.top {
    max-width: 900px;
  }

  .faq-answer {
    display: block;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    white-space: normal;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .faq-plus-wrap {
    width: 16px;
    height: 16px;
    margin-right: 0px;
  }

  .faqbig_wrapper {
    max-width: 900px;
    margin-top: 0px;
    border-style: none;
    border-width: 1px;
    border-color: rgba(23, 20, 67, 0.2) #e0e1dd #e0e1dd;
  }

  .faqbig_wrapper.top {
    max-width: 900px;
  }

  .image-11 {
    left: 10%;
    top: 20%;
  }

  .image-12 {
    left: 14%;
    top: 40%;
  }

  .image-14 {
    right: 12%;
  }
}

@media screen and (max-width: 991px) {
  .logo_wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

@media screen and (max-width: 479px) {
  .logo_wrapper {
    overflow: hidden;
    margin-top: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .logo {
    left: 16px;
    top: 24px;
    width: 40%;
  }

  .your_logo {
    padding-right: 24px;
    padding-left: 24px;
  }

  .image-5 {
    display: none;
  }

  .heading-2 {
    width: 100%;
    margin-left: 0px;
    font-size: 24px;
    line-height: 34px;
    text-align: left;
  }

  .heading-2.center {
    text-align: left;
  }

  .left-arrow {
    margin-left: 31%;
  }

  .client_wrapper {
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 32px;
    margin-right: 0px;
  }

  .slide_testimonial {
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
  }

  .right-arrow {
    margin-right: 13%;
  }

  .section {
    padding-top: 56px;
  }

  .section.purple.no_wave {
    padding-top: 56px;
  }

  .slide-nav {
    margin-left: 8%;
  }

  .slider_testimonials {
    display: block;
    height: 430px;
    margin-top: 40px;
    margin-left: 0px;
  }

  .button_white {
    width: 100%;
    margin-top: 24px;
    margin-left: 0px;
    text-align: center;
  }

  .button_black {
    display: block;
    width: 100%;
    text-align: center;
  }

  .button_wrapper {
    display: block;
    width: 100%;
  }

  .section_wrapper-2 {
    padding-right: 16px;
    padding-left: 16px;
  }

  .testimonial_card {
    padding: 24px;
    border-radius: 8px;
    background-color: #fff;
  }

  .testimonial_wrapper {
    display: none;
  }

  .card_testimonial {
    width: 300px;
    padding: 24px;
  }

  .sub_title_h2 {
    width: 100%;
    margin-left: 0px;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
  }

  .sub_title_h2.white {
    width: 100%;
  }

  .sub_title_h2.white._65 {
    width: 100%;
  }

  .mask_testimonial {
    width: 100%;
    height: auto;
  }

  .p-16 {
    margin-top: 8px;
    margin-right: 0px;
    padding-top: 0px;
    font-size: 16px;
  }

  .p-16.faq {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
    padding-top: 0px;
    font-size: 16px;
  }

  .faq-plus-l {
    height: 16px;
    min-height: 16px;
    min-width: 3px;
  }

  .heading-3 {
    padding-right: 24px;
    line-height: 24px;
  }

  .faq-plus {
    width: 16px;
    min-height: 3px;
    min-width: 16px;
  }

  .f-q_wrapper {
    padding: 16px 16px 16px 0px;
  }

  .f-q_wrapper.top {
    margin-top: 24px;
    padding: 16px 16px 16px 0px;
  }

  .faqbig_wrapper {
    padding: 16px 16px 16px 0px;
  }

  .faqbig_wrapper.top {
    margin-top: 24px;
    padding: 16px 16px 16px 0px;
  }
}

#w-node-d6a8c8d5-918a-1427-de7c-30a5ceb895a9-9b84396a {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4b6270b1-ad21-f27c-2299-f681d6f36a25-9b84396a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_76dee7dd-8a41-3bd7-5c59-815f5991292a-9b84396a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f91e85a0-e33d-46a8-a4b7-5b643bfa72a9-9b84396a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_75bd3acb-121c-f073-931d-e6dea1d330e3-9b84396a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_350557d7-2c6d-6290-a98d-870387c7be1e-9b84396a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c1867368-8556-ccab-6476-e2a8795f2dad-9b84396a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_344c2eb2-ae00-5d77-5987-1cf5912d001a-9b84396a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b8d0a766-1ec7-fbe2-c861-be28cd2c7179-9b84396a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_99b5b8ff-778b-284a-502c-6551e2ecd863-e2ecd825 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_99b5b8ff-778b-284a-502c-6551e2ecd86d-e2ecd825 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_99b5b8ff-778b-284a-502c-6551e2ecd877-e2ecd825 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_99b5b8ff-778b-284a-502c-6551e2ecd881-e2ecd825 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_99b5b8ff-778b-284a-502c-6551e2ecd88d-e2ecd825 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_99b5b8ff-778b-284a-502c-6551e2ecd897-e2ecd825 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_99b5b8ff-778b-284a-502c-6551e2ecd8a1-e2ecd825 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_99b5b8ff-778b-284a-502c-6551e2ecd8ab-e2ecd825 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_99b5b8ff-778b-284a-502c-6551e2ecd8b7-e2ecd825 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_99b5b8ff-778b-284a-502c-6551e2ecd8c1-e2ecd825 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_99b5b8ff-778b-284a-502c-6551e2ecd8cb-e2ecd825 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_99b5b8ff-778b-284a-502c-6551e2ecd8d5-e2ecd825 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@font-face {
  font-family: 'Euclid circular a';
  src: url('../fonts/Euclid-Circular-A-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Euclid circular a';
  src: url('../fonts/Euclid-Circular-A-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Euclid circular a';
  src: url('../fonts/Euclid-Circular-A-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Euclid circular a';
  src: url('../fonts/Euclid-Circular-A-Light-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Euclid circular a';
  src: url('../fonts/Euclid-Circular-A-Medium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Euclid circular a';
  src: url('../fonts/Euclid-Circular-A-SemiBold-Italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Euclid circular a';
  src: url('../fonts/Euclid-Circular-A-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Euclid circular a';
  src: url('../fonts/Euclid-Circular-A-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Euclid circular a';
  src: url('../fonts/Euclid-Circular-A-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Euclid circular a';
  src: url('../fonts/Euclid-Circular-A-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}